<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_fintech.mapper.IndexMapper">
    <select id="CntMember" resultType="int">
        SELECT
            count(email)
        FROM
            member
    </select>

    <select id="AmountPayment" resultType="double">
        SELECT
            sum(amount)
        FROM
            payment
    </select>

    <select id="CntBuy"  resultType="int">
        SELECT
            count(id)
        FROM
            buy
    </select>

    <select id="CntContact" resultType="int">
        SELECT
            count(id)
        FROM
            contact
    </select>
</mapper>
