<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_fintech.mapper.IndexMapper">
    <select id="CntMember" parameterType="com.example.admin_fintech.member.dto.Member" resultType="int">
        SELECT
            count(email)
        FROM
            member
    </select>

    <select id="AmountPayment" parameterType="com.example.admin_fintech.payment.dto.Payment" resultType="double">
        SELECT
            SUM(total)
        FROM
            payment
    </select>

    <select id="CntBuy" parameterType="com.example.admin_fintech.buy.dto.Buy" resultType="int">
        SELECT
            count(id)
        FROM
            buy
    </select>

    <select id="CntContact" parameterType="com.example.admin_fintech.contact.dto.Contact" resultType="int">
        SELECT
            count(id)
        FROM
            contact
    </select>
</mapper>
