<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_fintech.mapper.PaymentMapper">
    <select id="SelectPayment" resultType="com.example.admin_fintech.payment.dto.Payment">
        SELECT
            id,
            email,
            amount,
            uid,
            indate
        FROM
            payment
    </select>

</mapper>